<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<import resource="springmvc.xml"/>
	<import resource="spring-dao.xml"/>
	<import resource="spring-redis.xml"/>
	<import resource="spring-ehcache.xml"/> 
	
	<context:component-scan base-package="com.shiro.realm"></context:component-scan>
	<!-- shirofilter -->
	<bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="login"></property>
		<property name="unauthorizedUrl" value="403"></property>
		<property name="filterChainDefinitions">
			<value>
				/login = anon
				/dologin = anon
				/static/** = anon
				/sso/* = anon
				/role = roles["role1"]
				/role = perms["user:insert"]
				/test2 = authc
<!-- 				/** = user -->
			</value>
		</property>
	</bean>
	<!-- securitymanager -->
	<bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
		<property name="realm" ref="myRealm"></property>
		<property name="sessionManager" ref="sessionManager"></property>
<!-- 		<property name="cacheManager" ref="redisCacheManager"></property> -->
		<property name="cacheManager" ref="shiroCacheManager"></property>
		<property name="rememberMeManager" ref="rememberMeManager"></property>
	</bean>
	<!-- myrealm -->
	<bean class="com.shiro.realm.MyRealm" id="myRealm">
		<property name="credentialsMatcher" ref="hashedCredentialsMatcher"></property>
	</bean>
	
	<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="hashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="md5"></property>
		<property name="hashIterations" value="2"></property>
	</bean>
	
	<bean class="com.shiro.session.CustomSessionManager" id="sessionManager">
		<property name="sessionDAO" ref="redisSession"/>
	</bean>
	<bean class="com.shiro.session.RedisSession" id="redisSession"></bean>
	<bean class="com.shiro.cache.RedisCacheManager" id="redisCacheManager"></bean>
	
	<!-- 	记住我配置           -->
	<bean class="org.apache.shiro.web.mgt.CookieRememberMeManager" id="rememberMeManager">
		<property name="cookie" ref="rememberMeCookie"/>
	</bean>
	<bean class="org.apache.shiro.web.servlet.SimpleCookie" id="rememberMeCookie">
		<constructor-arg value="rememberMeCookie"></constructor-arg>
		<property name="httpOnly" value="true"/>
		<property name="maxAge" value="7200000"></property>
	</bean>
	
	
	<!-- <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">  --> 
 	<bean id="captchaProducer" class="com.shiro.kaptcha.MyKaptcha"> 
        <property name="config">  
<!--             <bean class="com.google.code.kaptcha.util.Config">   -->
				<bean class="com.shiro.kaptcha.LHMConfig">
                <constructor-arg>  
                    <props>  
                        <prop key="kaptcha.border">yes</prop>  
                        <prop key="kaptcha.border.color">105,179,90</prop>  
                        <prop key="kaptcha.textproducer.font.color">blue</prop>  
                        <prop key="kaptcha.image.width">125</prop>  
                        <prop key="kaptcha.image.height">45</prop>  
                        <prop key="kaptcha.textproducer.font.size">36</prop>  
                        <prop key="kaptcha.session.key">code</prop>  
                        <prop key="kaptcha.textproducer.char.length">4</prop>  
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>  
                    </props>  
                </constructor-arg>  
            </bean>  
        </property>  
    </bean>
</beans>
