<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">  
     <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射-->  
     <mvc:annotation-driven />  
     <!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean -->  
     <context:component-scan base-package="creator" /> 
     <mvc:resources location="/WEB-INF/views/public/" mapping="**"/> 
     <!-- 对模型视图名称的解析，在请求时模型视图名称添加前后缀 -->  
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp" />
<!--      <bean id="multipartResolver" class="com.creator1997.progressUtil.CommonsMultipartResolverExt">  -->
<!--      	1024*200即200k   -->
<!--         <property name="maxUploadSize" value="3221225472"/>   -->
<!--         resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常   -->
<!--         <property name="resolveLazily" value="true"/>  -->
<!--         <property name="maxInMemorySize" value="4096" /> -->
<!--      	<property name="defaultEncoding" value="UTF-8"></property> -->
<!--      </bean> -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
     	<!--1024*200即200k-->  
        <property name="maxUploadSize" value="3221225472"/>  
        <!--resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常-->  
        <property name="resolveLazily" value="true"/> 
        <property name="maxInMemorySize" value="4096" />
     	<property name="defaultEncoding" value="UTF-8"></property>
     </bean>
     <!-- 事务配置  -->
     <tx:annotation-driven transaction-manager="txManager"/>    
     <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">    
    	 <property name="dataSource" ref="dataSource"/>    
     </bean>  
	<import resource="classpath:Mysql_bean.xml" /> 
      <!-- 拦截器配置  -->
     <mvc:interceptors>  
	    <mvc:interceptor>  
	        <mvc:mapping path="/admin"/>
	        <mvc:exclude-mapping path="/admin/login "/>
	        <bean id="LoginInterceptor" class="com.creator.interceptor.AdminInterceptor"></bean>  
	    </mvc:interceptor>  
   	    <mvc:interceptor>  
	        <mvc:mapping path="/api/**"/>
	        <bean id="ApiInterceptor" class="com.creator.interceptor.ApiInterceptor"></bean>  
	    </mvc:interceptor>  
	</mvc:interceptors>
</beans>
