@CHARSET "UTF-8";

.tip {
	margin-right: 5px;
	font-size: 20px;
	cursor: pointer;
	color: #E28001;
}

.info-wrapper {
	margin: 0 20px;
	margin-top: 30px;
	border: 1px solid #cecece;
	border-radius: 5px;
	padding: 50px 0;
	background-color: rgba(250, 248, 253,0.3);
}

.info-list {
	margin: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	height: 80px;
	box-shadow: 0 0 3px #ccc;
	width: 450px;
	display: flex;
	background-color: white;
	
}

.info-list .info-header {
	width: 20%;
	height: 100%;
	background-color: #808080;
	color: white;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

.info-list .info-part {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding-left: 40px;
	flex-direction: column;
	letter-spacing: 2px;
}

.info-list .info-part .info-title {
	font-size: 13px;
	margin-bottom: 3px;
}
.info-list .info-part .info-msg {
	font-size: 16px;
}

.info-list-primary .info-header{
	background-color: #57BEDF;
}

.info-list-primary .info-title {
	color: #57BEDF;
}

.info-list-success .info-header {
	background-color: #02919A;
}

.info-list-success .info-title {
	color: #02919A;
}

/************修改layui样式******************/
.layui-form-label {
	width: 25%;
}

.layui-input-wrapper {
	width: 60% !important;
}
.layui-input {
	padding-left:10px !important;
	height: 36px;
}
.layui-form-switch {
	height: 24px;
	padding: 0 7px;
}

.page-container {
	background-color: #EFF3F8;
	border: 1px solid #e0e0e0;
	border-top: 0;
	padding: 8px 20px;
	display: flex;
	font-size: 12px;
	justify-content: space-between;
}

.page-left {
	
}
.page-left span {
	margin-right: 4px;
}

.page-left select {
	height: 25px !important;
}
.page-right: {
	
}

.pagination {
	margin: 0;
	color: #666;
}

.pagination a{
	color: #777 !important;
}