.load1-space {
	width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(12, 12, 12, 0.3);
    z-index: 1000;
}

.load1 {
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    color: white;
}

.border-container{
	padding: 10px;
	background-color: rgba(0,0,0,0.2);
	border-radius:7px; 
	width: 600px;
	margin-top: 30px;
	
}

.login-boder{
	width: 600px;
	height: 280px;
	padding-top: 30px;
	border-radius:4px;
	background-color: rgba(0,0,0,0.4);
   
}