@CHARSET "UTF-8";
/**
 * 登录页面样式
 */
 html {
 	height: 100%;
 }
 body {
 	background-image: url("/cloud/images/bg_login.jpg");
 	padding-top: 312px;
 	height: 100%;
 	background-size: 100% 100%; 
 }
 
 .box {
 	width: 800px;
 	height: 350px;
 	margin: auto;
 	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	position: relative;
 }
 
 .box-mask {
 	width: 100%;
 	height: 275px;
 	background-color: rgba(0,0,0,0.6);
 	border-radius: 10px;
 	color: white;
 	padding: 60px 0 0 60px;
 }
 
 .box-mask .icon {
 	font-size: 55px;
 	color: #3498db;
 }
 
 .box-mask .title {
 	font-size: 28px;
 	margin-top: 5px;
 }
 .box-mask .text {
 	font-size: 16px;
 	margin-bottom: 2px;
 }
 
 .box-login {
 	position: absolute;
 	width: 450px;
 	height: 350px;
 	background-color: #f9f9f9;
 	right: 50px;
 	top: 0;
 	border-radius: 5px;
 	padding: 35px 55px;
 }
 
 .login-header {
 	font-size: 24px;
 	color: #3498db;
 	line-height: 33px;
 	margin-top: 20px;
 	margin-bottom: 8px;
 }
 
 .login-header small {
 	color: #ccc;
 	margin-left: 10px;
 	font-size: 18px;
 }
 
  .form-group {
 	margin-bottom: 20px;
 }
 
 .box-login .input-group-addon{
 	font-size: 18px;
 	border-radius: 0;
 	color: #bbb;
 	background-color: white;
 	height: 40px;
 	min-width: 40px;
 }
 
 .box-login input[type="text"],input[type="password"] {
 	height: 40px;
 	border-radius: 0;
 }
 
 .login-action {
 	display: flex;
 	justify-content: space-between;
 	margin: 10px 0;
 	margin-bottom: 20px;
 }
 .login-checkbox {
 	margin: 0;
 }
 
 .login-tip a {
 	cursor: pointer;
 }
 
 .login-btn {
 	font-size: 18px;
 	width: 100%;
 }
 
 

 
 
 .login-tip {
 }