@CHARSET "UTF-8";

/**********组织管理首页*************/
.content {
	padding: 40px 50px;
	display: flex;
	color: #666;
}
/**树形菜单**/
.menu {
	flex-shrink: 0;
	width: 430px;
	background-color: white;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 3px 5px 15px #E1E1E1;
}

.box-header {
	border-bottom: 1px solid #37AE87;
	font-weight: bold;
	display: flex;
	padding: 12px 15px;
	height: 45px;
	justify-content: space-between;
}

.header-title {
	flex-direction: column;
	font-size: 15px;
	border-left: 4px solid #37AE87;
	padding-left: 10px;
	line-height: 20px;
}
.header-op {
	color: #999 !important;
}

.header-op>a{
	color: #999 !important;
}

.menu-content {
	padding: 15px 20px;
}

.menu-content .op-wrapper {
	display: flex;
}

.menu-content .op-wrapper .search {
	flex-direction: column;
	width: 55%;
	margin-left: 40px;
}

.menu-content .tree-wrapper {
	margin-top: 20px;
	min-height: 500px;
	max-height: 700px;
	overflow-y: auto;
}

.opera {
	min-width: 850px;
	background-color: white;
	flex-direction: column;
	border-radius: 5px;
	margin-left: 50px;
	
}

.opera-content {
	padding: 15px 30px;
}

.btn-wrap .btn {
	margin-right: 10px;
}

.table-wrapper {
	margin-top: 30px;
	
}


.table-wrapper .title {
	padding: 5px 10px;
	background-color: #F28A06;
	color: white;
	display: inline-block;
	border-radius: 5px;
	margin-left: 5px;
	
}

.table-wrapper .table-contanier {
	margin-top: 20px;
	overflow-y: auto;
	min-height: 435px;
	max-height: 635px;
}

.btn-parallel {
	margin-right: 8px;
}
.btn-parallel i {
	margin-right: 3px;
}


.table th,td {
	text-align: center;
}

.table input[type=checkbox] {
	cursor: pointer;
}

.table-wrapper .table-tip {
	padding-right: 100px;
}
/************修改bootstrap样式******************/
.dropdown-menu {
	margin-top: 12px;
	left: -15px;
	min-width: 120px;
}

/************修改ztree样式***************************/
.ztree li span.button {
	margin-bottom: 4px !important;
}
.ztree li a {
	margin-bottom: 4px !important;
}

.ztree li a:hover {
	text-decoration: none !important;
}

.ztree li span {
	margin-left: 2px !important;
}
.ztree * {
	font-size: 14px !important;
}

.ztree li a.curSelectedNode {
	height: 18px !important;
}

