a {
	text-decoration: none !important;
}

.ibox-tools {
	margin-left: 10px;
}

.ibox-tools i {
	padding: 0px;
}

.main-outer.blur, .layui-form-item.blur, .modal-footer.blur {
	 -webkit-filter: blur(3px);
     -moz-filter: blur(3px);
     -o-filter: blur(3px);
     -ms-filter: blur(3px);
     filter: blur(3px);
}

.modal-body, .layui-form-item, .modal-footer {
	transition: filter .25s linear;
	-webkit-transition: filter .25s linear;
}

.data-none {
	border: 1px solid rgb(221, 221, 221);
    border-top: none;
    text-align: center;
    padding: 10px 0;
}

.load-i {
	font-size: 40px;
	color: #25af5d;
}

.load-outer {
	position: fixed;
	z-index: 1051;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -20px;
	opacity: 1;
	
	transition: opacity .5s linear -.25s;
	-webkit-transition: opacity .5s linear -.25s;
}

.load-outer.ng-hide {
	opacity: 0;
}

.main-div {
	padding: 0 15px;
	margin-top: 41px;
}

.main-outer {
	transition: filter .5s linear -.25s;
	-webkit-transition: filter .5s linear -.25s;
}

.top-div {
	display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 10px;
    position: relative;
    border-bottom: none;
    background:#fdfcfc;
}

.top-div > ul > li > a {
	cursor: pointer !important;
}

.ur-table {
	text-align: center;
	margin-bottom: 0;
}

.ur-table thead tr th {
	text-align: center;
}

.ur-image {
	height: 40px;
}

.iur-table-outer {
	/* max-height: 200px; */
}

.iur-table thead tr th {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
}

.iur-table tbody tr td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
}

.iur-table tbody {
	display:block;
    max-height:250px;
    overflow: auto;
}
.iur-table thead,.iur-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.iur-table tbody::-webkit-scrollbar {/*滚动条整体样式*/
	width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
.iur-table tbody::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #8a8181;
}
.iur-table tbody::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.iur-table thead.thead-scroll-on {
    width: calc( 100% - 1.2em );
    width: -moz-calc( 100% - 1.2em );
    width: -webkit-calc( 100% - 10px );
}

/* .iur-table tbody::-webkit-scrollbar {
	display: none;
} */

#importUserTbody {
	/* position: relative; */
}

.bottom-div {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-div > .bottom-btn-group {
	display: flex;
}

.bottom-btn-group {
	padding-left: 15px;
}

.bottom-btn-group button {
	margin-left: 10px !important;
}

.modal {
	color: #333;
}

.modal label, .modal .layui-form-switch, .modal .layui-icon {
	box-sizing: content-box;
}

.modal i {
	padding: 0;
}

.modal-dialog-delete {
	position: relative;
	top: 40%;
	left: 50%;
	margin: -200px 0 0 -300px;
	width:400px;
} 

.modal .modal-body li {
	margin-top: 5px;
}

.user-img-sm {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(119, 146, 140, 0.55);
}

.modal-dialog-import {
	position: relative;
	top: 40%;
	left: 50%;
	margin: -300px 0 0 -400px;
	width:800px;
} 

.modal-dialog-update {
	position: relative;
	top: 40%;
	left: 50%;
	margin: -300px 0 0 -250px;
	width:500px;
}



.well {
	margin-bottom: 0 !important;
}

.input-forware {
	position: absolute;
	width: 56px;
	right: 188px;
	top: 12px;
	height:30px;
	z-index: 5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.class-tree-outer, .usergroup-outer {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 285px;
	
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

.usergroup-outer {
	right: 275px;
}

.class-tree-outer.active {
    top: -305px;
    bottom: -215px;
    left: -110px;
    right: 0;
    z-index: 2;
}

.usergroup-outer.active {
    top: -365px;
    bottom: -155px;
    left: -110px;
    right: 0;
    z-index: 2;
}

.class-tree-div, .usergroup-div {
 	position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;

    transition: all .3s linear;
	-webkit-transition: all .3s linear;
}

.class-tree-div.active, .usergroup-div.active {
	top: 5%;
	left: 15%;
	right: 15%;
	bottom: 15%;
	
	padding: 10px;
	
    border: 1px solid #ccc;
	background-color: whitesmoke;
    border-radius: 6px;
    
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    z-index: 2;
}

.usergroup-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
}

.class-tree, .usergroup {
	width: 100%;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	display: flex;
    flex-direction: column;
	
	transition: opacity .2s linear .3s;
	-webkit-transition: opacity .2s linear .3s;
}

.class-tree.ng-hide, .usergroup.ng-hide {
	opacity: 0;
	
	transition: none;
	-webkit-transition: none;
}

.class-tree > h3, .usergroup > h3 {
	text-align: center;
	margin-bottom: 10px;
}

.tree-tools {
	display: flex;
    justify-content: center;
    align-items: center;
}

.tree-tools > .search {
	width: 150px;
    margin-left: 10px;
}

.ztree {
	overflow: auto;
    flex-grow: 1;
}


.layui-table tr {
    transition: none;
    -webkit-transition: none;
}

#resetPwd, #inputPwd {
    overflow: hidden;
    opacity: 1;
    height: 43px;
    margin-bottom: 13px;
    transition: opacity .2s linears;
    -webkit-transition: all .2s linear;
}

#resetPwd.ng-hide, #inputPwd.ng-hide {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
}

.button-blur {
	align-self: flex-end;
}

#uploadForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.upload-file-input {
	display: none !important;
}

#fileName {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    width: 200px;
}

#errorSpan {
	color: red;
    font-weight: bold;
    padding: 0 10px;
    line-height: 38px;
}

.question-i {
	color: darkcyan;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.question-i:hover {
	color: #168cf1;
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
}

.errorTd {
    background-color: #F44336;
    color: white;
    cursor: pointer;
}

.errorTr {
    background-color: #ffff80;
    cursor: pointer;
}

.cursor-not-allow {
	cursor: not-allowed;
}


/* ace */
.ace-input {
    font-weight: 400;
    border-radius: 0 !important;
    color: #858585;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.ace-button {
	background: rgb(51, 122, 183);
    border-width: 1px;
    border-color: #8aafce;
    color: #6688a6 !important;
    text-shadow: none !important;
    background-color: #FFF !important;
    outline:none !important;
}

/* refactor */
.layer-help-class * {
    box-sizing: content-box;
}

.layer-help-class .layui-layer-content {
	color: #333;
	padding-left: 40px;
}

.layer-help-class .layui-layer-title {
	padding-left: 15px;
} 

.layer-help-class .layui-layer-content ul li {
	transition: color .3s;
	-webkit-transition: color .3s;
	list-style: disc;
}
.layer-help-class .layui-layer-content ul li:hover {
	color: darkcyan;
}
